* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #000000;
}
.ul-header {
    height: 1.8rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.img-logo {
    height: 1.8rem;
}